@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

html {
    font-family: Poppins;
}

body {
    background-color: #000000d6;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    height: 73px;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: white;
    padding: 0;
    margin-left: 14%;
    width: 70%;
}

li {
    padding: 10%;
}

img {
    width: 20px;
    height: 20px;
}

button {
    width: 35px;
    height: 35px;
}

.txt-creator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 50%;
}

.main-container {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    height: 80%;
}

.canvas-container {
    position: relative;
    margin-right: 3%;
    z-index: 3;
    opacity: 0.78;
    margin-top: 2%;
    height: 100%;
    width: 100%;
    margin-left: 4%;
    border-radius: 30px;
    box-shadow: 0 0 4px 2px #595555;
}

.bgc-img {
    position: absolute;
    background-color: #5459661c;
    opacity: 0.35;
    right: 0;
    top: 12.5%;
    height: 87%;
    width: 70%;
    left: 0;
    box-shadow: 19px 20px 20px 20px #444851;
}

#imgCanvas {
    border-radius: 30px;
    width: 100%;
    cursor: grab;
}

.editor {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-top: 2%;
    margin-right: 4%;
    z-index: 6;
    background-color: #22252c;
    height: 100%;
    box-shadow: 0 0 8px #716f6f;
    justify-content: initial;
}


.img-canvas {
    display: none;
}

.img-head {
    display: none;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.head-btns {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 4px 2px 20px #cfdc91;
    background-color: #cfdc91;
    border-radius: 3px;
    width: 90%;
}

.btn {
    /* background: none; */
    border-style: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: inset 0px 0px 4px 0px black;
}

form {
    display: contents;
}

.color {
    padding: 10px
}

a {
    text-decoration: none;
}

.w-4 {
    width: 40px;
    box-shadow: -1px 2px 7px #736c6c;
}

a:visited {
    color: white;
    text-decoration: none;
}

.updown {
    background-color: #57a8ca;
}

.add {
    background-color: #70d770;
}

.delete {
    background-color: #ff5454;
}


.txt-style {
    background-color: #19a59f;
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10%;
    box-shadow: 0px -1px 4px 0px #9deca8;
}

.font-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select {
    width: 40%;
    border-radius: 15px;
    height: 40px;
    margin-top: 5px;
}

.btn-img {
    padding: 10px;
    margin: 5px;
}

.share {
    width: 100px;
    border-radius: 15px;
    background-color: #1e7cd3;
}

.download {
    width: 100px;
    border-radius: 15px;
    background-color: #8f44bb;
}

.move {
    color: #595454;
    font-size: 10px;
    font-weight: bold;
}

.btn-link {
    text-shadow: 0px 1px 6px black;
    font-size: initial;
    box-shadow: -1px 0px 8px #5a5757;
}

.logo {
    color: white;
    cursor: pointer;
}
.moveup{
    background-color: #f5f4d1;
}
.movedown{
    background-color: #e1c9fd;
}

@media(max-width:640px) {
    header {
        margin: 0;
        border-radius: 0;
    }
    nav {
        justify-content: space-between;
        padding-right: 10%;
    }
    .logo {
        width: 118px;
        height: 32px;
        color: #ffffff;
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .img-head {
        display: block;
    }
    ul {
        display: none;
    }
    .main-container {
        height: 90%;
        flex-direction: column;
        align-items: center;
    }
    .bgc-img {
        width: 100%;
        height: -5%;
        top: 13.5%;
    }
    .canvas-container {
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        box-shadow: none;
    }
    #imgCamvas {
        height: 100%;
    }
    .editor {
        opacity: 1;
        border-radius: 10px;
        margin: 0 6%;
        padding-top: 2.5%;
        box-shadow: 2px -6px 20px 0px #716f6f;
        background-color: #36373ccc;
        /* padding-bottom: 3%; */
        overflow: auto;
        justify-content: space-around;
    }
    .txt-style {
        /* padding: 4%; */
        margin-bottom: 0;
        background: none;
        width: 92%;
        margin-top: 6%;
        height: 40%;
        box-shadow: none;
        display: block;
    }
    .font {
        padding: 1%;
    }
    .font-style {
        justify-content: center;
        /* padding-top: 3%; */
    }
    .txt-creator {
        width: 80%;
        height: 20%;
    }
    input[type="text"] {
        margin: 3% 0;
        padding:5px 20px;
    }
    .finish {
        margin-bottom: 2%;
    }
    .head-btns {
        padding-bottom: 0.5%;
        box-shadow: none;
        background: none;
    }
    .btn-img {
        width: 20px;
        height: 20px;
        padding: 10px;
    }
    .btn-link{
        font-size: 14px;
    }
    .w-4 {
        width: 35px
    }
    select {
        width: 30%;
    }
}

@media(max-width:320px) {
    html {
        font-size: 0.8rem;
    }
    .head-btns {
        padding-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    button {
        height: 30px;
        width: 30px;
    }
    .share {
        width: 70px;
    }
}